In [ ]:
from google.colab import drive
from os.path import join
ROOT = "/content/drive"
print(ROOT)
drive.mount(ROOT)

/content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 2022년 데이터 작업<<<<<<<<
nn = '2011'     #<<<<<<<<<<<<<<< 작업데이터 년도를 내가 입력해야됨!!!!!
# 2022년 데이터 작업<<<<<<<<
# 2022년 데이터 작업<<<<<<<<
# 2022년 데이터 작업<<<<<<<<


## 코랩을 사용할 때
#드라이브 마운트
from google.colab import drive
drive.mount('/content/drive/')

#현재 작업 위치 이동
#띄어쓰기에 \붙일 것
%cd /content/drive/MyDrive/Dev_work/REPORT



import pandas as pd
import numpy as np
from datetime import timedelta
import datetime as dt

df = pd.read_csv(   '/content/drive/MyDrive/Dev_work/REPORT/DATA_csv/W_REPORT_'+nn+'_ver01.csv')
df.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/MyDrive/Dev_work/REPORT

,Unnamed: 0,발표,발효,발표.1,발효.1
0,풍랑경보,2011-01-01 15:00,2011-01-01 16:00,풍랑주의보로 대치,NaN
1,풍랑주의보,2011-01-02 07:00,2011-01-02 09:00,2011-01-02 11:00,2011-01-02 14:00
2,풍랑주의보,2011-01-15 10:30,2011-01-15 16:00,2011-01-17 04:30,2011-01-17 09:00
3,풍랑주의보,2011-01-29 14:30,2011-01-29 16:00,2011-01-30 07:00,2011-01-30 09:00
4,풍랑주의보,2011-02-11 16:00,2011-02-11 21:00,2011-02-12 16:30,2011-02-12 18:00

In [ ]:
# df = pd.read_csv(   '/content/drive/MyDrive/Dev_work/REPORT/DATA_csv/W_REPORT_'+nn+'_ver01.csv')
# df.head()

## 시점 정보를 ['특보발효시점','격상격하전시점','격상격하후시점']으로 나눠 생각하기 시작했어야 했다.
> * ['격상격하전시점']은 ['특보발효시점']으로부터 시작된 특보강도가 마지막까지 유지되는 datetime을 확보해준다.
> * ['격상격하후시점']은 기존의 ['특보발효시점']에 datetime이 존재한다. 걱정할 필요가 없다.
>> * 그리고 나는 어차피 ffill 기능으로 특보발효시점~격상격하전시점을 채울거기 때문에, 항상 다음 행에 ffill를 해줄 특보강도만 신경쓰면 되는 일이었다.
>> * 중간중간 가름끈 끼우듯, 특보강도가 언제 0이 되는지(이건 이미 ['발효.1']컬럼으로 확보되어있음)
>> * ㄴ-이것만 내가 주면 되는 거였다. ['발효.1']의 null값은 신경쓰지 않아도 됐다.
>> * 왜냐면, 바로 다음 행의 ['발효']에 있는 datetime으로 다시 특보강도가 갱신되니까!!
>> * 나는 **특보강도=0의 발효시점**만 잡아서 넣어주면 되는 거였다!!! 그러면 부산이 영원한 풍랑주의보의 세계가 되지 않는다!!!

In [ ]:
# 컬럼명이 더러우니 닦아주자
df.rename(columns={'Unnamed: 0':'특보강도', 
                   '발표':'발표공시', 
                   '발효':'발효시점', 
                   '발표.1':'격상격하해제공시', 
                   '발효.1':'격상격하전시점'}, inplace=True)
df.head()

,특보강도,발표공시,발효시점,격상격하해제공시,격상격하전시점
0,풍랑경보,2011-01-01 15:00,2011-01-01 16:00,풍랑주의보로 대치,NaN
1,풍랑주의보,2011-01-02 07:00,2011-01-02 09:00,2011-01-02 11:00,2011-01-02 14:00
2,풍랑주의보,2011-01-15 10:30,2011-01-15 16:00,2011-01-17 04:30,2011-01-17 09:00
3,풍랑주의보,2011-01-29 14:30,2011-01-29 16:00,2011-01-30 07:00,2011-01-30 09:00
4,풍랑주의보,2011-02-11 16:00,2011-02-11 21:00,2011-02-12 16:30,2011-02-12 18:00

In [ ]:
ndf = df

ndf.head()

,특보강도,발표공시,발효시점,격상격하해제공시,격상격하전시점
0,풍랑경보,2011-01-01 15:00,2011-01-01 16:00,풍랑주의보로 대치,NaN
1,풍랑주의보,2011-01-02 07:00,2011-01-02 09:00,2011-01-02 11:00,2011-01-02 14:00
2,풍랑주의보,2011-01-15 10:30,2011-01-15 16:00,2011-01-17 04:30,2011-01-17 09:00
3,풍랑주의보,2011-01-29 14:30,2011-01-29 16:00,2011-01-30 07:00,2011-01-30 09:00
4,풍랑주의보,2011-02-11 16:00,2011-02-11 21:00,2011-02-12 16:30,2011-02-12 18:00

In [ ]:
# 하등 쓸모없는 컬럼인 ['발표공시'],['격상격하해제공시'] 컬럼들 날려준다
dropcols1 = ['발표공시','격상격하해제공시']
ndf = ndf.drop(dropcols1, axis=1 )


ndf

     특보강도              발효시점           격상격하전시점
0    풍랑경보  2011-01-01 16:00               NaN
1   풍랑주의보  2011-01-02 09:00  2011-01-02 14:00
2   풍랑주의보  2011-01-15 16:00  2011-01-17 09:00
3   풍랑주의보  2011-01-29 16:00  2011-01-30 09:00
4   풍랑주의보  2011-02-11 21:00  2011-02-12 18:00
5   풍랑주의보  2011-02-14 17:00  2011-02-15 11:00
6   풍랑주의보  2011-02-21 00:00  2011-02-22 05:00
7   풍랑주의보  2011-02-27 14:00  2011-03-01 01:00
8   풍랑주의보  2011-03-15 19:00  2011-03-16 13:00
9   풍랑주의보  2011-03-25 01:30  2011-03-25 21:00
10  풍랑주의보  2011-04-02 13:00  2011-04-03 05:00
11  풍랑주의보  2011-04-03 19:00  2011-04-04 04:00
12  풍랑주의보  2011-04-04 14:00  2011-04-05 10:00
13  풍랑주의보  2011-04-07 15:00  2011-04-08 07:00
14  풍랑주의보  2011-04-16 14:00  2011-04-17 05:00
15  풍랑주의보  2011-04-18 15:00  2011-04-19 05:00
16  풍랑주의보  2011-04-22 11:00  2011-04-23 03:00
17  풍랑주의보  2011-04-26 07:00  2011-04-26 20:00
18  풍랑주의보  2011-04-30 01:00  2011-05-01 06:00
19  풍랑주의보  2011-05-05 12:30  2011-05-05 16:00
20  풍랑주의보  2011-05-09 17:00  2011-05-10 06:00
21  풍랑주의보  2011-05-13 19:00  2011-05-14 05:00
22  풍랑주의보  2011-05-23 13:00  2011-05-24 05:00
23  풍랑주의보  2011-05-26 06:00  2011-05-27 06:00
24  풍랑주의보  2011-05-29 10:30  2011-05-30 02:00
25  풍랑주의보  2011-06-25 13:00               NaN
26  태풍주의보  2011-06-26 03:00               NaN
27  풍랑주의보  2011-06-26 14:00  2011-06-27 14:00
28  풍랑주의보  2011-07-18 23:00  2011-07-21 05:00
29  풍랑주의보  2011-07-21 21:00  2011-07-22 11:00
30  풍랑주의보  2011-08-06 16:00               NaN
31   풍랑경보  2011-08-07 16:00               NaN
32  풍랑주의보  2011-08-08 11:00  2011-08-09 05:00
33  풍랑주의보  2011-09-02 17:00  2011-09-05 03:00
34  풍랑주의보  2011-09-10 16:00  2011-09-11 11:00
35  풍랑주의보  2011-09-18 16:00  2011-09-21 18:00
36  풍랑주의보  2011-10-15 23:00  2011-10-16 10:00
37  풍랑주의보  2011-10-21 13:00  2011-10-22 17:00
38  풍랑주의보  2011-11-18 19:00  2011-11-19 04:30
39  풍랑주의보  2011-11-20 05:00  2011-11-20 15:00
40  풍랑주의보  2011-11-23 11:00  2011-11-24 07:00
41  풍랑주의보  2011-11-30 10:00               NaN
42   풍랑경보  2011-11-30 17:00               NaN
43  풍랑주의보  2011-12-01 15:00  2011-12-02 04:00
44  풍랑주의보  2011-12-02 18:00  2011-12-03 10:00
45  풍랑주의보  2011-12-08 21:00  2011-12-09 20:00

In [ ]:
# 일단 특보강도를 전부 수치화하자. 그 다음엔 제일 기준시점, 인덱스가 되어야할 df['발효시각']을 모두 to_datetime으로 형변환해주자.

Srs_1 = ndf['특보강도']
Srs_1.replace('풍랑주의보', 1, inplace=True)
Srs_1.replace('풍랑경보', 2, inplace=True)
Srs_1.replace('태풍주의보', 3, inplace=True)
Srs_1.replace('태풍경보', 4, inplace=True)

ndf

# Srs_1             ndf['특보강도']를 1~4로 수치화한 Series

    특보강도              발효시점           격상격하전시점
0      2  2011-01-01 16:00               NaN
1      1  2011-01-02 09:00  2011-01-02 14:00
2      1  2011-01-15 16:00  2011-01-17 09:00
3      1  2011-01-29 16:00  2011-01-30 09:00
4      1  2011-02-11 21:00  2011-02-12 18:00
5      1  2011-02-14 17:00  2011-02-15 11:00
6      1  2011-02-21 00:00  2011-02-22 05:00
7      1  2011-02-27 14:00  2011-03-01 01:00
8      1  2011-03-15 19:00  2011-03-16 13:00
9      1  2011-03-25 01:30  2011-03-25 21:00
10     1  2011-04-02 13:00  2011-04-03 05:00
11     1  2011-04-03 19:00  2011-04-04 04:00
12     1  2011-04-04 14:00  2011-04-05 10:00
13     1  2011-04-07 15:00  2011-04-08 07:00
14     1  2011-04-16 14:00  2011-04-17 05:00
15     1  2011-04-18 15:00  2011-04-19 05:00
16     1  2011-04-22 11:00  2011-04-23 03:00
17     1  2011-04-26 07:00  2011-04-26 20:00
18     1  2011-04-30 01:00  2011-05-01 06:00
19     1  2011-05-05 12:30  2011-05-05 16:00
20     1  2011-05-09 17:00  2011-05-10 06:00
21     1  2011-05-13 19:00  2011-05-14 05:00
22     1  2011-05-23 13:00  2011-05-24 05:00
23     1  2011-05-26 06:00  2011-05-27 06:00
24     1  2011-05-29 10:30  2011-05-30 02:00
25     1  2011-06-25 13:00               NaN
26     3  2011-06-26 03:00               NaN
27     1  2011-06-26 14:00  2011-06-27 14:00
28     1  2011-07-18 23:00  2011-07-21 05:00
29     1  2011-07-21 21:00  2011-07-22 11:00
30     1  2011-08-06 16:00               NaN
31     2  2011-08-07 16:00               NaN
32     1  2011-08-08 11:00  2011-08-09 05:00
33     1  2011-09-02 17:00  2011-09-05 03:00
34     1  2011-09-10 16:00  2011-09-11 11:00
35     1  2011-09-18 16:00  2011-09-21 18:00
36     1  2011-10-15 23:00  2011-10-16 10:00
37     1  2011-10-21 13:00  2011-10-22 17:00
38     1  2011-11-18 19:00  2011-11-19 04:30
39     1  2011-11-20 05:00  2011-11-20 15:00
40     1  2011-11-23 11:00  2011-11-24 07:00
41     1  2011-11-30 10:00               NaN
42     2  2011-11-30 17:00               NaN
43     1  2011-12-01 15:00  2011-12-02 04:00
44     1  2011-12-02 18:00  2011-12-03 10:00
45     1  2011-12-08 21:00  2011-12-09 20:00

In [ ]:
# 일단 ['발효시점','격상격하전시점'] 을 모두 to_datetime 형변환
ndf_TST = ndf
ndf_TST['발효시점'] = pd.to_datetime(ndf_TST['발효시점'])
ndf_TST['격상격하전시점'] = pd.to_datetime(ndf_TST['격상격하전시점'])

ndf_TST.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   특보강도     46 non-null     int64
 1   발효시점     46 non-null     datetime64[ns]
 2   격상격하전시점  39 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 1.2 KB

## ffill을 위해, 특보강도=0이 되는 시점 확보 시작
> * 역시 if문으로 돌려야 하는게 맞았다. datetime+1에 파라미터(, freq=hour)를 써서.
>> * if 특보강도=1 & ndf['격상격하전시점'].isnotnull:  #<=모든 특보가 완전히 해제되는 경우
>> * __ ndf['격상격하전시점']+1, freq=hour

In [ ]:
# ndf_TST['격상격하전시점'][ndf_TST['격상격하전시점'].isnull()]   #<= 결측치가 있는 행의 인덱스 호출 https://doong-e.tistory.com/27

In [ ]:
# ndf_TST['격상격하전시점'].isnull()

In [ ]:
ndf_TST

    특보강도                발효시점             격상격하전시점
0      2 2011-01-01 16:00:00                 NaT
1      1 2011-01-02 09:00:00 2011-01-02 14:00:00
2      1 2011-01-15 16:00:00 2011-01-17 09:00:00
3      1 2011-01-29 16:00:00 2011-01-30 09:00:00
4      1 2011-02-11 21:00:00 2011-02-12 18:00:00
5      1 2011-02-14 17:00:00 2011-02-15 11:00:00
6      1 2011-02-21 00:00:00 2011-02-22 05:00:00
7      1 2011-02-27 14:00:00 2011-03-01 01:00:00
8      1 2011-03-15 19:00:00 2011-03-16 13:00:00
9      1 2011-03-25 01:30:00 2011-03-25 21:00:00
10     1 2011-04-02 13:00:00 2011-04-03 05:00:00
11     1 2011-04-03 19:00:00 2011-04-04 04:00:00
12     1 2011-04-04 14:00:00 2011-04-05 10:00:00
13     1 2011-04-07 15:00:00 2011-04-08 07:00:00
14     1 2011-04-16 14:00:00 2011-04-17 05:00:00
15     1 2011-04-18 15:00:00 2011-04-19 05:00:00
16     1 2011-04-22 11:00:00 2011-04-23 03:00:00
17     1 2011-04-26 07:00:00 2011-04-26 20:00:00
18     1 2011-04-30 01:00:00 2011-05-01 06:00:00
19     1 2011-05-05 12:30:00 2011-05-05 16:00:00
20     1 2011-05-09 17:00:00 2011-05-10 06:00:00
21     1 2011-05-13 19:00:00 2011-05-14 05:00:00
22     1 2011-05-23 13:00:00 2011-05-24 05:00:00
23     1 2011-05-26 06:00:00 2011-05-27 06:00:00
24     1 2011-05-29 10:30:00 2011-05-30 02:00:00
25     1 2011-06-25 13:00:00                 NaT
26     3 2011-06-26 03:00:00                 NaT
27     1 2011-06-26 14:00:00 2011-06-27 14:00:00
28     1 2011-07-18 23:00:00 2011-07-21 05:00:00
29     1 2011-07-21 21:00:00 2011-07-22 11:00:00
30     1 2011-08-06 16:00:00                 NaT
31     2 2011-08-07 16:00:00                 NaT
32     1 2011-08-08 11:00:00 2011-08-09 05:00:00
33     1 2011-09-02 17:00:00 2011-09-05 03:00:00
34     1 2011-09-10 16:00:00 2011-09-11 11:00:00
35     1 2011-09-18 16:00:00 2011-09-21 18:00:00
36     1 2011-10-15 23:00:00 2011-10-16 10:00:00
37     1 2011-10-21 13:00:00 2011-10-22 17:00:00
38     1 2011-11-18 19:00:00 2011-11-19 04:30:00
39     1 2011-11-20 05:00:00 2011-11-20 15:00:00
40     1 2011-11-23 11:00:00 2011-11-24 07:00:00
41     1 2011-11-30 10:00:00                 NaT
42     2 2011-11-30 17:00:00                 NaT
43     1 2011-12-01 15:00:00 2011-12-02 04:00:00
44     1 2011-12-02 18:00:00 2011-12-03 10:00:00
45     1 2011-12-08 21:00:00 2011-12-09 20:00:00

In [ ]:
# datetime 1시간 빼기 더하기 수준의 단순연산 레퍼 https://ourcstory.tistory.com/99

# if ndf_TST['격상격하전시점'].isnull:
#   timeValRobber = ndf_TST['발효시점'] + dt.timedelta(hours=1)
#   ndf_TST['격상격하전시점'] = ndf_TST['격상격하전시점'].fillna(  timeValRobber  )

#       ㄴ-아 이게 돌아가는건 확인함 근데 아 실수로 또 무식한 +1 -1 연산을 해버리다니
#         iloc[행,열]로 다음행 ['발효시점'] 컬럼값을 가져와서 거기에 -1을 했었어야지!!! 근데 대체 iat iloc의 차이가 뭐야?? #<= iloc은 하나의 행이나 컬럼에도 접근 가능하지만(그래서 location같은 이름인거구나) iat은 오직 하나의 셀, 한 칸의 요소에만 접근 가능하다고 한다. 레퍼 https://kongdols-room.tistory.com/112
#         런타임 끊고 다시 처음부터 돌려야한다.
#         for문이랑 같이 돌려야 하나? 그럼 동글이를 다시 깨워야하나?

# if ndf_TST['격상격하전시점'].isnull:
#   timeValRobber = ndf_TST.iat[] + dt.timedelta(hours=1)          #<= df.iat[행열]로 접근한다
#   ndf_TST['격상격하전시점'] = ndf_TST['격상격하전시점'].fillna(  timeValRobber  )



# x=0 #for문이 돌아가는 중인 행(의 숫자 인덱스)
# y=0
# you=1  #도둑맞는 컬럼 숫자
# we=2 #도둑들의 창고 컬럼 숫자
# def greatRobber(z):             # 람다 레퍼 : https://zephyrus1111.tistory.com/73
#   for y in range(len(ndf_TST)):    #제발!작동하세요!
#     if ndf_TST['격상격하전시점'].isnull:
#       timeValRobber = ndf_TST.iat[x+1,1]  - dt.timedelta(hours=1)             #     위 람다레퍼 페이지에서 fillna는 치환대상과 원본이 같은 타입이어야 적용 가능하다고 적혀있어서 위 셀에서 해제시각을 to_datetime으로 바꿔줬다
#       ndf_TST.iat[x,2].replace(dt.Nat, timeValRobber)   # 아 지금 datetime이 str이라서 fillna가 안되는 상황이 발생함. 
#       x+1
#       y+1
#   return z.eq(timeValRobber).any()

# ndf_TST.apply(lambda z:greatRobber(z))
# # 동글이를 데려와 지금 상황에 맞게 컬럼명, 피해행 변수, 도둑들의 창고컬럼만 다시 만지며 생각해봤는데 어차피 datetime은 동글이가 못훔쳐온다.
# 동글이를 제대로 시간도둑이 될 수 있게 수정해야겠다.

#======= 동글이_for__W_REPORT_2022_ver06




ndf_TST

    특보강도                발효시점             격상격하전시점
0      2 2011-01-01 16:00:00                 NaT
1      1 2011-01-02 09:00:00 2011-01-02 14:00:00
2      1 2011-01-15 16:00:00 2011-01-17 09:00:00
3      1 2011-01-29 16:00:00 2011-01-30 09:00:00
4      1 2011-02-11 21:00:00 2011-02-12 18:00:00
5      1 2011-02-14 17:00:00 2011-02-15 11:00:00
6      1 2011-02-21 00:00:00 2011-02-22 05:00:00
7      1 2011-02-27 14:00:00 2011-03-01 01:00:00
8      1 2011-03-15 19:00:00 2011-03-16 13:00:00
9      1 2011-03-25 01:30:00 2011-03-25 21:00:00
10     1 2011-04-02 13:00:00 2011-04-03 05:00:00
11     1 2011-04-03 19:00:00 2011-04-04 04:00:00
12     1 2011-04-04 14:00:00 2011-04-05 10:00:00
13     1 2011-04-07 15:00:00 2011-04-08 07:00:00
14     1 2011-04-16 14:00:00 2011-04-17 05:00:00
15     1 2011-04-18 15:00:00 2011-04-19 05:00:00
16     1 2011-04-22 11:00:00 2011-04-23 03:00:00
17     1 2011-04-26 07:00:00 2011-04-26 20:00:00
18     1 2011-04-30 01:00:00 2011-05-01 06:00:00
19     1 2011-05-05 12:30:00 2011-05-05 16:00:00
20     1 2011-05-09 17:00:00 2011-05-10 06:00:00
21     1 2011-05-13 19:00:00 2011-05-14 05:00:00
22     1 2011-05-23 13:00:00 2011-05-24 05:00:00
23     1 2011-05-26 06:00:00 2011-05-27 06:00:00
24     1 2011-05-29 10:30:00 2011-05-30 02:00:00
25     1 2011-06-25 13:00:00                 NaT
26     3 2011-06-26 03:00:00                 NaT
27     1 2011-06-26 14:00:00 2011-06-27 14:00:00
28     1 2011-07-18 23:00:00 2011-07-21 05:00:00
29     1 2011-07-21 21:00:00 2011-07-22 11:00:00
30     1 2011-08-06 16:00:00                 NaT
31     2 2011-08-07 16:00:00                 NaT
32     1 2011-08-08 11:00:00 2011-08-09 05:00:00
33     1 2011-09-02 17:00:00 2011-09-05 03:00:00
34     1 2011-09-10 16:00:00 2011-09-11 11:00:00
35     1 2011-09-18 16:00:00 2011-09-21 18:00:00
36     1 2011-10-15 23:00:00 2011-10-16 10:00:00
37     1 2011-10-21 13:00:00 2011-10-22 17:00:00
38     1 2011-11-18 19:00:00 2011-11-19 04:30:00
39     1 2011-11-20 05:00:00 2011-11-20 15:00:00
40     1 2011-11-23 11:00:00 2011-11-24 07:00:00
41     1 2011-11-30 10:00:00                 NaT
42     2 2011-11-30 17:00:00                 NaT
43     1 2011-12-01 15:00:00 2011-12-02 04:00:00
44     1 2011-12-02 18:00:00 2011-12-03 10:00:00
45     1 2011-12-08 21:00:00 2011-12-09 20:00:00

## 손미란 강사님 조언
> * 쓸데없이... 어렵게 접근해서...
> * 인덱스로 접근하기만 하면 되는데...
> * 위에서 인덱스 접근 다 해놓고... 뭐한건데...
> * 이게 쉬운 축에 속하는 로직이라고 하셔서... 힘이 빠진다... 역시 개발자는 하면 안되겠다...
> * 그리고 동글이에게 fillna를 시킨것도 너무 문제였음...
>> * 그런데 dt NaT은 대체 replace를 못먹이는건가??

In [ ]:
# 손미란 강사님의 프로세스:
  # 
  # 결측치 리스트 추출
  # 결측치의 인덱스 추출
  # 해당 인덱스 +1의 인덱스 추출
  #                 ㄴ-인덱스의 발효시점데이터값 추출
  #                 +데이터 +1hour 연산
  #                 해당 값을 결측치에 할당
  # ----결측치 리스트만큼 반복하기. 각각 for문을 이용해서.

## 지금 완전자동화된 코드를 만들 시간이 없기 때문에 일부는 손으로 때우는 야매로 간다
> * 손쌤 프로세스대로 가다가 마지막인 >>해당 값을 결측치에 할당<< 부분에서 막힘. 이유는:
>> * 그동안 리스트의 요소 하나하나로 들어가도록 append를 쓰지 않아
>> * 리스트(0)에 모든 정보가 다 들어가도록 해버림
>> * 이걸 수정하려니 앞부분에서 다 막힘. Srs 혹은 df의 인덱스만 호출해서 리스트에 요소로 append하는걸 하려니 자꾸 막힘
> * 해서 일단은 >>해당 값을 결측치에 할당<< 까지만 야매로 성공한 것들을 내가 직접 육안으로 확인해서 수작업으로 결측치에 할당하기로 했다.
> * 프젝이 더 중요하지 **자동화된 코드 한바닥 완성**하는게 문제가 아님 이건 **나중에 프젝 끝나고!!!**

In [ ]:
# 아 나는 리스트 각 요소에 접근하는거 모르는데... list는 1도모르는데


# 결측치 리스트 추출
donggleCave = ndf_TST['격상격하전시점'][ndf_TST['격상격하전시점'].isnull()]
# donggleCave


# 결측치 리스트의 인덱스 추출                                                                 # 레퍼 https://melonicedlatte.com/2021/03/14/181700.html
ndf_TST_NaT_idx = [ donggleCave.index ]   # 각 요소에 +1 하려면? [list명[i] +1 for i in range(len(list명))] 
# ndf_TST_NaT_idx


# 해당 인덱스 +1의 인덱스 추출
ndf_TST_NaT_nextidx = [ ndf_TST_NaT_idx[i] + 1 for i in range(len(ndf_TST_NaT_idx)) ]
# ndf_TST_NaT_nextidx



#                 ㄴ-해당 인덱스의 발효시점데이터값 추출
# df.iloc[(행),1] <=이렇게 가야겠는데
# ndf_TST_NaT_nextidx[i] for i in range(len(ndf_TST_NaT_idx)) 이걸로 각 결측치 다음 행 인덱스 번호를 가져올 수는 있는데... for를 여기에 걸면 안되겠는데.
#   ㄴ그래 여기에 i를 걸면 안된다. 전체 for문 맨 끝에 i+1을 걸어야한다!
                        #  그러면 다음요소 다음요소 이렇게 반환을 한다!
                        #     그러면... 지금은 ndf_TST_NaT_nextidx[i]를 df.iloc[행,1]의 행에 넣어주면 된다.
# 발효시점 value도 리스트로 따로 만들어야하나?
x=0
for x in range(len(ndf_TST_NaT_idx)):
  list_timeRobbed = [ ndf_TST.iloc[ndf_TST_NaT_nextidx[0+x],1] ]
  # list_timeRobbed = [ for ndf_TST_NaT_nextidx[0+x],1 ] in range(len(ndf_TST_NaT_idx)) ]
  x+1

# list_timeRobbed   #<=허어억 미친 리스트 만들었어 type(list_timeRobbed) 이거도 리스트 맞아 #<=으아악 이거 원본데이터랑 비교하니까 다 맞아 맞게 빼왓어



#                 +데이터 +1hour 연산
# 이제 list_timeRobbed 리스트의 각 요소에 -1hour만 해주면 돼!! 이건 아까 이미 안에 for문 걸어서 하는거 해봤었어!
# ndf_TST['격상격하전시점'].isnull()에 넣어줄 시간값의 리스트 이름은 list_greatRobber 로 하자

for x in range( len(list_timeRobbed) ):
  x=0
  list_greatRobber = [ list_timeRobbed[0+x] -dt.timedelta(hours=1) ]
  x+1

list_greatRobber  #<=되고있다ㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏㅏ
 


#                 해당 값을 결측치에 할당
# donggleCave에 각 요소를 replace() 하면 되려나? 하 fillna때문에 얼마나 고생했는지...바보바보
# 근데 동글이의 동굴에 '발효시점' 행 인덱스도 다 딸려왔네 한 번 리셋 해주야겠다. df 인덱스 리셋이지만 리스트 인덱스 리셋에도 먹히는거 확인함. 레퍼 https://bjy2.tistory.com/184
# donggleCave.iloc[ndf_TST_NaT_idx[0+x],].replace( list_greatRobber[0+x] )
# for x in range( len(list_timeRobbed) ):
#   x=0
#   ndf_TST.iloc[ndf_TST_NaT_idx[0+x],2].replace( list_greatRobber.__getitem__(x) )
#   x+1



# ndf_TST_NaT_nextidx[i] for i in range(len(ndf_TST_NaT_idx))  # 리스트 각 요소 접근 레퍼 https://dojang.io/mod/page/view.php?id=1311

[1    2011-01-02 08:00:00
 26   2011-06-26 02:00:00
 27   2011-06-26 13:00:00
 31   2011-08-07 15:00:00
 32   2011-08-08 10:00:00
 42   2011-11-30 16:00:00
 43   2011-12-01 14:00:00
 Name: 발효시점, dtype: datetime64[ns]]

In [ ]:
ndf['격상격하전시점'] = ndf['격상격하전시점'].astype(str)
ndf['격상격하전시점']

0                     NaT
1     2011-01-02 14:00:00
2     2011-01-17 09:00:00
3     2011-01-30 09:00:00
4     2011-02-12 18:00:00
5     2011-02-15 11:00:00
6     2011-02-22 05:00:00
7     2011-03-01 01:00:00
8     2011-03-16 13:00:00
9     2011-03-25 21:00:00
10    2011-04-03 05:00:00
11    2011-04-04 04:00:00
12    2011-04-05 10:00:00
13    2011-04-08 07:00:00
14    2011-04-17 05:00:00
15    2011-04-19 05:00:00
16    2011-04-23 03:00:00
17    2011-04-26 20:00:00
18    2011-05-01 06:00:00
19    2011-05-05 16:00:00
20    2011-05-10 06:00:00
21    2011-05-14 05:00:00
22    2011-05-24 05:00:00
23    2011-05-27 06:00:00
24    2011-05-30 02:00:00
25                    NaT
26                    NaT
27    2011-06-27 14:00:00
28    2011-07-21 05:00:00
29    2011-07-22 11:00:00
30                    NaT
31                    NaT
32    2011-08-09 05:00:00
33    2011-09-05 03:00:00
34    2011-09-11 11:00:00
35    2011-09-21 18:00:00
36    2011-10-16 10:00:00
37    2011-10-22 17:00:00
38    2011-11-19 04:30:00
39    2011-11-20 15:00:00
40    2011-11-24 07:00:00
41                    NaT
42                    NaT
43    2011-12-02 04:00:00
44    2011-12-03 10:00:00
45    2011-12-09 20:00:00
Name: 격상격하전시점, dtype: object

In [ ]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   특보강도     46 non-null     int64
 1   발효시점     46 non-null     datetime64[ns]
 2   격상격하전시점  46 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.2+ KB

## yame part <<<<<수작업!!!

In [ ]:
donggleCave

0    NaT
25   NaT
26   NaT
30   NaT
31   NaT
41   NaT
42   NaT
Name: 격상격하전시점, dtype: datetime64[ns]

In [ ]:
list_greatRobber

[1    2011-01-02 08:00:00
 26   2011-06-26 02:00:00
 27   2011-06-26 13:00:00
 31   2011-08-07 15:00:00
 32   2011-08-08 10:00:00
 42   2011-11-30 16:00:00
 43   2011-12-01 14:00:00
 Name: 발효시점, dtype: datetime64[ns]]

In [ ]:
# 0    NaT
# 25   NaT
# 26   NaT

# 30   NaT
# 31   NaT

# 41   NaT
# 42   NaT
# Name: 격상격하전시점, dtype: datetime64[ns]



# yame part
#                 해당 값을 결측치에 할당

# 성공했다 그런데 너무 창피하다... 이런 코드 쓸 바엔 차라리 엑셀로 시트 열어서 수작업하는게 낫지...
###<<<<<<제발!!!! 좌항의 iloc 좌표가 맞는지 확인하고 전체돌리세요제발 진정해!!!!!!!!!!준영아진정좀하고하자!!!!!!!!!

ndf.iloc[0,2] = ndf.iloc[0,2].replace('NaT', '2011-01-02 08:00:00')
ndf.iloc[25,2] = ndf.iloc[25,2].replace('NaT', '2011-06-26 02:00:00')
ndf.iloc[26,2] = ndf.iloc[26,2].replace('NaT', '2011-06-26 13:00:00')

ndf.iloc[30,2] = ndf.iloc[30,2].replace('NaT', '2011-08-07 15:00:000')
ndf.iloc[31,2] = ndf.iloc[31,2].replace('NaT', '2011-08-08 10:00:00')

ndf.iloc[41,2] = ndf.iloc[41,2].replace('NaT', '2011-11-30 16:00:00')
ndf.iloc[42,2] = ndf.iloc[42,2].replace('NaT', '2011-12-01 14:00:00')

# ndf.iloc[29,2] = ndf.iloc[29,2].replace('NaT', '2012-08-30 11:00:00')

# ndf.iloc[30,2] = ndf.iloc[30,2].replace('NaT', '2012-08-30 20:00:00')

# ndf.iloc[33,2] = ndf.iloc[33,2].replace('NaT', '2012-09-16 22:00:00')
# ndf.iloc[34,2] = ndf.iloc[34,2].replace('NaT', '2012-09-17 02:00:00')
# ndf.iloc[35,2] = ndf.iloc[35,2].replace('NaT', '2012-09-17 19:00:00')

# ndf.iloc[63,2] = ndf.iloc[63,2].replace('NaT', '2013-10-08 19:40:00')
# ndf.iloc[64,2] = ndf.iloc[64,2].replace('NaT', '2013-10-09 00:00:00')

ndf



# [1    2011-01-02 08:00:00
#  26   2011-06-26 02:00:00
#  27   2011-06-26 13:00:00

#  31   2011-08-07 15:00:00
#  32   2011-08-08 10:00:00

#  42   2011-11-30 16:00:00
#  43   2011-12-01 14:00:00
#  Name: 발효시점, dtype: datetime64[ns]]

    특보강도                발효시점               격상격하전시점
0      2 2011-01-01 16:00:00   2011-01-02 08:00:00
1      1 2011-01-02 09:00:00   2011-01-02 14:00:00
2      1 2011-01-15 16:00:00   2011-01-17 09:00:00
3      1 2011-01-29 16:00:00   2011-01-30 09:00:00
4      1 2011-02-11 21:00:00   2011-02-12 18:00:00
5      1 2011-02-14 17:00:00   2011-02-15 11:00:00
6      1 2011-02-21 00:00:00   2011-02-22 05:00:00
7      1 2011-02-27 14:00:00   2011-03-01 01:00:00
8      1 2011-03-15 19:00:00   2011-03-16 13:00:00
9      1 2011-03-25 01:30:00   2011-03-25 21:00:00
10     1 2011-04-02 13:00:00   2011-04-03 05:00:00
11     1 2011-04-03 19:00:00   2011-04-04 04:00:00
12     1 2011-04-04 14:00:00   2011-04-05 10:00:00
13     1 2011-04-07 15:00:00   2011-04-08 07:00:00
14     1 2011-04-16 14:00:00   2011-04-17 05:00:00
15     1 2011-04-18 15:00:00   2011-04-19 05:00:00
16     1 2011-04-22 11:00:00   2011-04-23 03:00:00
17     1 2011-04-26 07:00:00   2011-04-26 20:00:00
18     1 2011-04-30 01:00:00   2011-05-01 06:00:00
19     1 2011-05-05 12:30:00   2011-05-05 16:00:00
20     1 2011-05-09 17:00:00   2011-05-10 06:00:00
21     1 2011-05-13 19:00:00   2011-05-14 05:00:00
22     1 2011-05-23 13:00:00   2011-05-24 05:00:00
23     1 2011-05-26 06:00:00   2011-05-27 06:00:00
24     1 2011-05-29 10:30:00   2011-05-30 02:00:00
25     1 2011-06-25 13:00:00   2011-06-26 02:00:00
26     3 2011-06-26 03:00:00   2011-06-26 13:00:00
27     1 2011-06-26 14:00:00   2011-06-27 14:00:00
28     1 2011-07-18 23:00:00   2011-07-21 05:00:00
29     1 2011-07-21 21:00:00   2011-07-22 11:00:00
30     1 2011-08-06 16:00:00  2011-08-07 15:00:000
31     2 2011-08-07 16:00:00   2011-08-08 10:00:00
32     1 2011-08-08 11:00:00   2011-08-09 05:00:00
33     1 2011-09-02 17:00:00   2011-09-05 03:00:00
34     1 2011-09-10 16:00:00   2011-09-11 11:00:00
35     1 2011-09-18 16:00:00   2011-09-21 18:00:00
36     1 2011-10-15 23:00:00   2011-10-16 10:00:00
37     1 2011-10-21 13:00:00   2011-10-22 17:00:00
38     1 2011-11-18 19:00:00   2011-11-19 04:30:00
39     1 2011-11-20 05:00:00   2011-11-20 15:00:00
40     1 2011-11-23 11:00:00   2011-11-24 07:00:00
41     1 2011-11-30 10:00:00   2011-11-30 16:00:00
42     2 2011-11-30 17:00:00   2011-12-01 14:00:00
43     1 2011-12-01 15:00:00   2011-12-02 04:00:00
44     1 2011-12-02 18:00:00   2011-12-03 10:00:00
45     1 2011-12-08 21:00:00   2011-12-09 20:00:00

## 이제 timedelta ffill
> * ndf['특보강도']+ndf['발효시점'] 콘캣 <= df명은 Nndf_1
> * ndf['특보강도']+ndf['격상격하전시점'] 콘캣,  <= df명은 Nndf_2
> * datetime 변환 후 인덱스로 설정, 
> * 두 Nndf의 인덱스컬럼명 하나로 통일 <= 새 인덱스 컬럼명은 '일시'
> * timedelta로 만든 1시간텀의 데이터프레임 timeDF에 를 모두 넣은 후 ffill

In [ ]:
# > * ndf['특보강도']+ndf['발효시점'] 콘캣 <= df명은 Nndf_1
# > * ndf['특보강도']+ndf['격상격하전시점'] 콘캣,  <= df명은 Nndf_2
Nndf_1 = pd.concat( [ndf['특보강도'], ndf['발효시점']] ,axis=1)
# Nndf_1
Nndf_2 = pd.concat( [ndf['특보강도'], ndf['격상격하전시점']] ,axis=1)
# Nndf_2


# > * 두 Nndf의 인덱스컬럼명 하나로 통일 <= 새 인덱스 컬럼명은 '일시' <====이것부터 했어야함!!! 인덱스 설정보다 이것부터!!!
Nndf_1 = Nndf_1.rename(columns = {'발효시점':'일시'})
Nndf_2 = Nndf_2.rename(columns = {'격상격하전시점':'일시'})


# > * datetime 변환 후 인덱스로 설정, 
Nndf_1['일시'] = pd.to_datetime( Nndf_1['일시'] )
# Nndf_1.info()
Nndf_2['일시'] = pd.to_datetime( Nndf_2['일시'] )
                      # Nndf_2.info() 아냐 둘을 합친 후 셋인덱스 하는게 낫겠어    <=아냐!!!!!! 셋인덱스 하고 합쳐야돼!!!!!



Nndf_1 = Nndf_1.set_index('일시', drop=True)
# # Nndf_1
Nndf_2 = Nndf_2.set_index('일시', drop=True)
# Nndf_2
Nndf_3 = pd.concat( [Nndf_1,Nndf_2] , axis=0)   #<=콘캣이 너무 문제다 시점 겹치는게 중복해서 들어간다 join을 해서 합집합병합으로 가야한다
# Nndf_3 = pd.join( [Nndf_1,Nndf_2] , axis=0)           #kkkkkkkkkkkㅏㅏㅏㅏㅏㅏㅏ
# Nndf_3 = Nndf_3.set_index('일시')
# Nndf_3
# Nndf_3['일시'] = pd.to_datetime( Nndf_3['일시'] )
# Nndf_3

# # 인덱스 기준으로 행 재정렬   레퍼 https://hogni.tistory.com/6
Nndf_3_sortedByIndex = Nndf_3.sort_index(ascending=True)
Nndf_3_sortedByIndex
###여기까진 됐어 그런데 이제보니 특보강도가 0이 되는 시점이 없어!!!!!!!!!! 이러면 ffill을 했다간 영원한 풍랑주의보의 도시가 된다고!!!!!!!!!!
###괜찮아 괜찮아 특보강도=1의 시점에 +1hour를 해서 df에 넣고, 특보강도.fillna('0') 하면 돼. 시간이 -1로 수렴하고 있지만 진정해...제발진정좀해!!!!!!!!!!!!!
#   ndf['격상격하전시점'].isnotnull 인덱스 리스트 추출
#   해당 인덱스의 +1 hour
#               ㄴ-이것들을 df 새 행으로 삽입
#               특보강도 결측치에 .fillna(0)
###할수있어 해내야돼!!!!!!!!!


      # > * timedelta로 만든 1시간텀의 데이터프레임 timeDF에 를 모두 넣은 후 ffill

      # cal_2022 = pd.date_range("2022-01-01 00:00:00", "2022-09-30 23:00:00", freq='h')
      # cal_2022 = pd.Series(np.random.randn(), index=cal_2022)

      # https://rfriend.tistory.com/499
      # https://datascienceschool.net/01%20python/04.08%20%EC%8B%9C%EA%B3%84%EC%97%B4%20%EC%9E%90%EB%A3%8C%20%EB%8B%A4%EB%A3%A8%EA%B8%B0.html

                     특보강도
일시
2011-01-01 16:00:00     2
2011-01-02 08:00:00     2
2011-01-02 09:00:00     1
2011-01-02 14:00:00     1
2011-01-15 16:00:00     1
...                   ...
2011-12-02 04:00:00     1
2011-12-02 18:00:00     1
2011-12-03 10:00:00     1
2011-12-08 21:00:00     1
2011-12-09 20:00:00     1

[92 rows x 1 columns]

> *    ndf['격상격하전시점'].isnotnull 인덱스 리스트 추출
> *    해당 인덱스의 +1 hour
> *                ㄴ-이것들을 df 새 행으로 삽입
> *                특보강도 결측치에 .fillna(0)

In [ ]:
#   ndf['격상격하전시점'].notnull 인덱스 리스트 추출
# print(ndf['격상격하전시점'].notnull)
ndf_notnull_list = ndf['격상격하전시점'][ndf['격상격하전시점'].notnull()]


#   해당 인덱스의 +1 hour
ndf_notnull_list_idx = [ ndf_notnull_list.index ]


#               ㄴ-이것들을 df 새 행으로 삽입
# #                 아니야 이것들의 인덱스를 호출해서, 해당 인덱스 +1의 인덱스 추출
# ndf_notnull_list_nextidx = [ndf_notnull_list_idx[i] + 1 for i in range(len(ndf_notnull_list_idx))]
# #out=>[Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
#                 #   18, 19, 20, 21, 22, 23, 24, 25, 26],
#                 #  dtype='int64')]
# #                 ㄴ-해당 인덱스의 발효시점데이터값 
###아니야 이거 아니야.
################이거아니야!!!!!!!!!!
  #   ndf['격상격하전시점'].notnull 인덱스 리스트 추출
  #   해당 인덱스의 ['격상격하전시점'] +1 hour을 한 새 df_Lv0 만들기 <<<<<<===새 df를 만들어야돼!!! 특보강도0인 시점은 데이터에 없어 내가 새로 넣어야돼!!!
  #               ㄴ-이것들을 df 새 행으로 삽입
  #               특보강도 결측치에 .fillna(0)      <<이러면 0이 되는 시점이 잡히기 때문에 이제 ffill을 해도 된다고!!!!!제발진정좀!!!!


#               특보강도 결측치에 .fillna(0)

In [ ]:
Mdf = df
# 일단 Mdf['격상격하전시점']을 datetime으로 형변환해두자 그래야 아래에서 timedelta연산이 가능하니
Mdf['격상격하전시점'] = pd.to_datetime( Mdf['격상격하전시점'] )


#   Mdf['격상격하전시점'].notnull 인덱스 리스트 추출
# print(Mdf['격상격하전시점'].notnull)
Mdf_notnull_list = Mdf['격상격하전시점'][Mdf['격상격하전시점'].notnull()]
# ㄴ 이것은 Srs다. Mdf['격상격하전시점']의 datetime이 들어있다. 전부 특보강도0이 되기 직전의 시간... 여기에 +timedelta(hours=1) 해준 df를 새로 만들어야 한다.

#Mdf_notnull_list 리스트의 인덱스 추출 이게 빠짐 ㅜㅜㅜ
Mdf_notnull_idxLIST = Mdf_notnull_list.index
# ㄴ 이거를 Mdf_notnull_idxLIST = [ Mdf_notnull_list.index ] 이렇게 대괄호로 묶으니까 난리지 바보야ㅜㅜㅜㅜㅜ

#   해당 인덱스의 ['격상격하전시점'] +1 hour을 한 새 df_Lv0 만들기 <<<<<<===새 df를 만들어야돼!!! 특보강도0인 시점은 데이터에 없어 내가 새로 넣어야돼!!!

# ndf_sinceTimeLv0 = pd.DataFrame({'일시':[ 0이되는_시점_변수이름:LvZero_timeSetter ],
#                                  '특보강도':[0]})

LvZero_Time_Srs = Mdf_notnull_list
LvZero_Time_Srs.reset_index(drop=True, inplace=True)


LvZero_df = pd.DataFrame(columns=['특보없음_시작시점','특보강도는_0'])
x=0
for x in range( len(LvZero_Time_Srs) ):                      # for문으로 새 df만드는 레퍼 https://shydev.tistory.com/29
  LvZero_timeSetter = [ LvZero_Time_Srs[0+x] + dt.timedelta(hours=1) ]
  # LvZero_df = LvZero_df.append(pd.DataFrame([[x, 0]], columns=['특보없음_시작시점', '특보강도는_0']))
  LvZero_df = LvZero_df.append({'특보없음_시작시점': LvZero_timeSetter, '특보강도는_0':0 }, ignore_index=True)  # append로 새 행 만드는 레퍼 https://seong6496.tistory.com/238
  x+1
# 뭔가 됐는데 뭐가 된거지? 일단 레벨0_타임세터를 확인해보자
# LvZero_df
#     =>out!!!! [Timestamp('2022-01-12 09:00:00')] 으아아아 뭐하나 가져왔어!!!!!!!!! 시간연산+1했어!!!!!근데 이걸로 새 데이터프레임에 넣는 for문을 어떻게 돌려야할지 모르겠어ㅠㅠㅠㅠㅠㅠㅠ
#         어째서 16번 돌지 않지? len(LvZero_Time_Srs)는 분명히 16인데 왜 자꾸 값을 하나만 가져오는거지? 맨 마지막 9월21일 시간만 가져온거면 이해를 하겠는데 왜 인덱스0의 값 하나에만 +1시간해서 가져오지??
#             x=0을 for문 밖으로 뺐더니 9월21일 시간만 +1hour한거 하나만 덜렁 나온다 이럴줄 알았다!!!!!아!!!!!!! 파이썬이랑은 말이 안통한다!!!!!!! 파이썬이 한국어를 좀 했으면 좋겠다!!!!!!
# 해당 부분 코드 완성됨... 22-11-02 13:39


LvZero_df['특보없음_시작시점'] = LvZero_df['특보없음_시작시점'].astype(str)
LvZero_df['특보없음_시작시점'] = LvZero_df['특보없음_시작시점'].str.replace(pat=r'[^\w]', repl=r'', regex=True) # 문자열 특수문자 제거 레퍼 https://acdongpgm.tistory.com/166
LvZero_df['특보없음_시작시점'] = LvZero_df['특보없음_시작시점'].str.replace('Timestamp', '')
# ---문자열로 바꿔 특수문자를 없엔 특보없음_시작시점을 다시 datetime으로--ㄱ
LvZero_df['특보없음_시작시점'] = pd.to_datetime(LvZero_df['특보없음_시작시점'])
# ---인덱스가 될 컬럼명을 팀 통일조건대로 '일시'로 바꿔줌
LvZero_df = LvZero_df.rename(columns = {'특보없음_시작시점':'일시'})
# ---그리고 날짜를 인덱스로 세팅--ㄱ
LvZero_df = LvZero_df.set_index('일시', drop=True)
# ---그리고 특보강도는_0의 컬럼명 바꾸고, 모든 value 타입도 int로 변환
LvZero_df = LvZero_df.rename(columns = {'특보강도는_0':'특보강도'})
LvZero_df['특보강도'] = pd.to_numeric(LvZero_df['특보강도'])
LvZero_df
# 이제부턴  Nndf_3_sortedByIndex 데이터프레임과  LvZero_df 데이터프레임을 merge해줘야함 그리고 datetimeIndex따라 재정렬만하면 하............ 22-11-02 1:49 일단 아래에 쌓인 셀 정리하고, 담탐좀 하고 오자

                     특보강도
일시
2011-01-02 15:00:00     0
2011-01-17 10:00:00     0
2011-01-30 10:00:00     0
2011-02-12 19:00:00     0
2011-02-15 12:00:00     0
2011-02-22 06:00:00     0
2011-03-01 02:00:00     0
2011-03-16 14:00:00     0
2011-03-25 22:00:00     0
2011-04-03 06:00:00     0
2011-04-04 05:00:00     0
2011-04-05 11:00:00     0
2011-04-08 08:00:00     0
2011-04-17 06:00:00     0
2011-04-19 06:00:00     0
2011-04-23 04:00:00     0
2011-04-26 21:00:00     0
2011-05-01 07:00:00     0
2011-05-05 17:00:00     0
2011-05-10 07:00:00     0
2011-05-14 06:00:00     0
2011-05-24 06:00:00     0
2011-05-27 07:00:00     0
2011-05-30 03:00:00     0
2011-06-27 15:00:00     0
2011-07-21 06:00:00     0
2011-07-22 12:00:00     0
2011-08-09 06:00:00     0
2011-09-05 04:00:00     0
2011-09-11 12:00:00     0
2011-09-21 19:00:00     0
2011-10-16 11:00:00     0
2011-10-22 18:00:00     0
2011-11-19 05:30:00     0
2011-11-20 16:00:00     0
2011-11-24 08:00:00     0
2011-12-02 05:00:00     0
2011-12-03 11:00:00     0
2011-12-09 21:00:00     0

In [ ]:
# 이제부턴  Nndf_3_sortedByIndex 데이터프레임과  LvZero_df 데이터프레임을 merge해줘야함 
# 그리고 datetimeIndex따라 재정렬만하면 하............ 22-11-02 1:49 일단 아래에 쌓인 셀 정리하고, 담탐좀 하고 오자

AllTime_df = pd.concat( [Nndf_3_sortedByIndex, LvZero_df] , axis=0)

# # 인덱스 기준으로 행 재정렬   레퍼 https://hogni.tistory.com/6
AllTime_df = AllTime_df.sort_index(ascending=True)

AllTime_df  #<<<====진짜끝...

                     특보강도
일시
2011-01-01 16:00:00     2
2011-01-02 08:00:00     2
2011-01-02 09:00:00     1
2011-01-02 14:00:00     1
2011-01-02 15:00:00     0
...                   ...
2011-12-03 10:00:00     1
2011-12-03 11:00:00     0
2011-12-08 21:00:00     1
2011-12-09 20:00:00     1
2011-12-09 21:00:00     0

[131 rows x 1 columns]

## 최종저장 : 내가 모든 시점을 인덱스로 가져가는건 포기한다. 데이터셋에서 ffill하자.
> * 조원 여러분 죄송합니다 시간이 너무 없네요... 22-11-02 11:05

In [ ]:
AllTime_df = AllTime_df.to_csv(  '/content/drive/MyDrive/Dev_work/REPORT/DATA_csv/기상특보_W_REPORT/코드정리만 된 것으로 뽑아낸 csv/W_REPORT_'+nn+'_yame.csv'  , index='False', encoding='UTF-8')
# 나온 csv파일과 원본을 일일이 대조해보니 맞아떨어진다...
# 하.........
# 결국 코드 완성은 못했는데 어쨌든 전부 csv 빼기는 했다... 진짜 미치겠다 토요일 저녁부터 토일월화수 4박5일... 지금 2022-11-02 15:29 하........

In [ ]:
from os.path import join  

# path to your project on Google Drive
MY_GOOGLE_DRIVE_PATH = '/content/drive/MyDrive/Dev_work/REPORT' 
# replace with your Github username 
GIT_USERNAME = "JBahc" 
# definitely replace with your
GIT_TOKEN = "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"  
# Replace with your github repository in this case we want 
# to clone deep-learning-v2-pytorch repository
GIT_REPOSITORY = "okkomi" 

PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH)

# It's good to print out the value if you are not sure 
print("PROJECT_PATH: ", PROJECT_PATH)   

# In case we haven't created the folder already; we will create a folder in the project path 
!mkdir "{PROJECT_PATH}"    

#GIT_PATH = "https://{GIT_TOKEN}@github.com/{GIT_USERNAME}/{GIT_REPOSITORY}.git" this return 400 Bad Request for me
GIT_PATH = "https://" + GIT_TOKEN + "@github.com/" + GIT_USERNAME + "/" + GIT_REPOSITORY + ".git"
print("GIT_PATH: ", GIT_PATH)

PROJECT_PATH:  /content/drive/MyDrive/Dev_work/REPORT
mkdir: cannot create directory ‘/content/drive/MyDrive/Dev_work/REPORT’: File exists
GIT_PATH:  https://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@github.com/JBahc/okkomi.git