## 모델 학습을 위한 데이터셋 구성을 위해 하운님이 ffill하신 csv파일에서 작업 시작. 파일명 : 2012_ex.csv
> * 기존 : 특보발효가 터지거나 완전해지되는 시점만 잡았음
> * 변경사항 : 특보발효된 상황에서 격상 혹은 격하 되는 시점도 잡는 코드 작성 시작 (22 1104 12:17)
> * 완료 : 22 1104 12:54 크~~~~~ 엄청늘었다!

In [ ]:
from google.colab import drive
from os.path import join
ROOT = "/content/drive"
print(ROOT)
drive.mount(ROOT)

/content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 20yy년 데이터 작업<<<<<<<<
# 20yy년 데이터 작업<<<<<<<<
# 20yy년 데이터 작업<<<<<<<<
yyyy = '2012'     #<<<<<<<<<<<<<<< 작업데이터 년도를 내가 입력해야됨!!!!!
# 20yy년 데이터 작업<<<<<<<<
# 20yy년 데이터 작업<<<<<<<<
# 20yy년 데이터 작업<<<<<<<<


## 코랩을 사용할 때
#드라이브 마운트
from google.colab import drive
drive.mount('/content/drive/')

#현재 작업 위치 이동
#띄어쓰기에 \붙일 것
%cd /content/drive/MyDrive/Dev_work/REPORT



import pandas as pd
import numpy as np
from datetime import timedelta
import datetime as dt

Mounted at /content/drive/
/content/drive/MyDrive/Dev_work/REPORT

In [ ]:
df = pd.read_csv(   '/content/drive/MyDrive/Dev_work/REPORT/DATA_csv/ffill_csv/'+ yyyy +'_ex.csv', index_col=False)
df = df.rename(columns = {'Unnamed: 0' : ''})
df = df.set_index('', drop=True)
df

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,해제시각
,,,,,,,,
21,2012-03-30 09:00:00,8.4,20.7,1.0,1.5,1016.1,1.0,2012-03-31 07:00:00
22,2012-03-30 10:00:00,9.0,20.7,1.1,1.7,1015.3,1.0,2012-03-31 07:00:00
23,2012-03-30 11:00:00,7.0,20.7,0.8,1.3,1015.0,1.0,2012-03-31 07:00:00
24,2012-03-30 12:00:00,6.3,20.7,0.9,1.4,1013.9,1.0,2012-03-31 07:00:00
25,2012-03-30 13:00:00,7.3,20.7,0.9,1.4,1013.1,1.0,2012-03-31 07:00:00
...,...,...,...,...,...,...,...,...
6047,2012-12-18 13:00:00,7.4,19.8,0.2,0.4,1019.4,1.0,2012-12-18 18:00:00
6048,2012-12-18 14:00:00,7.5,19.8,0.3,0.4,1019.5,1.0,2012-12-18 18:00:00
6049,2012-12-18 15:00:00,6.2,19.8,0.2,0.4,1019.4,1.0,2012-12-18 18:00:00
6050,2012-12-18 16:00:00,6.8,19.8,0.3,0.4,1019.8,1.0,2012-12-18 18:00:00
6051,2012-12-18 17:00:00,6.7,19.8,0.3,0.5,1020.4,1.0,2012-12-18 18:00:00

In [ ]:
fdf = df
dropcols1 = ['WIND_SPEED', 'GUST_WIND', 'SIG_WAVE', 'MAX_WAVE', 'HPA']
fdf = fdf.drop(dropcols1, axis=1)
fdf

                       일시  특보강도                 해제시각

21    2012-03-30 09:00:00   1.0  2012-03-31 07:00:00
22    2012-03-30 10:00:00   1.0  2012-03-31 07:00:00
23    2012-03-30 11:00:00   1.0  2012-03-31 07:00:00
24    2012-03-30 12:00:00   1.0  2012-03-31 07:00:00
25    2012-03-30 13:00:00   1.0  2012-03-31 07:00:00
...                   ...   ...                  ...
6047  2012-12-18 13:00:00   1.0  2012-12-18 18:00:00
6048  2012-12-18 14:00:00   1.0  2012-12-18 18:00:00
6049  2012-12-18 15:00:00   1.0  2012-12-18 18:00:00
6050  2012-12-18 16:00:00   1.0  2012-12-18 18:00:00
6051  2012-12-18 17:00:00   1.0  2012-12-18 18:00:00

[531 rows x 3 columns]

## 이제 필요없는 컬럼과 인덱스는 정리했다. 프로세스를 정리해보자
> * 만약에if fdf.iloc[i,1]!=fdf.iloc[i+1,1]이라면... 그러니까, 지금 행의 특보Lv가 다음행의 특보LV와 **다르다**면:
> * 너는 가지고와라: fdf.iloc[i+1,0] 값을... 다음행의 datetime을 가지고와라
> * 그리고 연산해라: -dt.timedelta(hours=1) 1시간 빼라
> * 그리고 그걸 새 리스트에 특보강도와 함께 넣어라.
> * ㄴ----이짓을 반복해라 in range(len(fdf))----

In [ ]:
list_greatRobber = []

In [ ]:
fdf.일시 = pd.to_datetime(fdf.일시)
fdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 21 to 6051
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      531 non-null    datetime64[ns]
 1   특보강도    531 non-null    float64
 2   해제시각    531 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 16.6+ KB

In [ ]:
# 일단 새 리스트 잡자
list_greatRobber = []

# 만약에if fdf.iloc[i,1]!=fdf.iloc[i+1,1]이라면... 그러니까, 지금 행의 특보Lv가 다음행의 특보LV와 다르다면:
i=0
minus_1 = len(fdf)-1  #<=또꼼수
for i in range( minus_1 ):
  if fdf.iloc[i,1] != fdf.iloc[i+1,1]:
    timeValRobber = fdf.iloc[i+1,0] -dt.timedelta(hours=1)    #아~~~~~ 일시가 datetime이 아니어서 1작성 1성공에 실패햇어요~~~~
    list_greatRobber.append(
        {'일시' : timeValRobber,
         '특보강도' : fdf.iloc[i,1],
         '해제시각' : fdf.iloc[i,2]})
    i+1

list_greatRobber

# 너는 가지고와라: fdf.iloc[i+1,0] 값을... 다음행의 datetime을 가지고와라
# 그리고 연산해라: -dt.timedelta(hours=1) 1시간 빼라
# 그리고 그걸 새 리스트에 특보강도와 함께 넣어라. 그리고 이제부턴 i+1이다.
# ㄴ----이짓을 반복해라 in range(len(fdf))----



# list = []
# for i in range(len(df)-1) :
#     if (df.iloc[i,1]!=df.iloc[i+1,1]) :
#         # list.append(df.iloc[[i+1]].index)
#         # list.append(df.iloc[[i+1]].index.to_list())
#         list.append(df.iloc[[i+1]].index.to_series())

[{'일시': Timestamp('2012-04-03 03:00:00'),
  '특보강도': 1.0,
  '해제시각': '2012-04-04 10:30:00'},
 {'일시': Timestamp('2012-04-04 00:00:00'),
  '특보강도': 2.0,
  '해제시각': '2012-04-04 10:30:00'},
 {'일시': Timestamp('2012-07-18 19:00:00'),
  '특보강도': 1.0,
  '해제시각': '2012-07-16 00:00:00'},
 {'일시': Timestamp('2012-07-19 06:00:00'),
  '특보강도': 3.0,
  '해제시각': '2012-07-19 12:00:00'},
 {'일시': Timestamp('2012-08-27 09:00:00'),
  '특보강도': 1.0,
  '해제시각': '2012-08-29 06:00:00'},
 {'일시': Timestamp('2012-08-27 15:00:00'),
  '특보강도': 3.0,
  '해제시각': '2012-08-29 06:00:00'},
 {'일시': Timestamp('2012-08-28 20:00:00'),
  '특보강도': 4.0,
  '해제시각': '2012-08-29 06:00:00'},
 {'일시': Timestamp('2012-08-30 07:00:00'),
  '특보강도': 1.0,
  '해제시각': '2012-08-31 07:00:00'},
 {'일시': Timestamp('2012-08-30 11:00:00'),
  '특보강도': 3.0,
  '해제시각': '2012-08-31 07:00:00'},
 {'일시': Timestamp('2012-08-30 20:00:00'),
  '특보강도': 4.0,
  '해제시각': '2012-08-31 07:00:00'},
 {'일시': Timestamp('2012-09-16 22:00:00'),
  '특보강도': 1.0,
  '해제시각': '2012-09-18 00:00:00'},
 {'일시': Timestamp('2012-09-17 02:00:00'),
  '특보강도': 3.0,
  '해제시각': '2012-09-18 00:00:00'},
 {'일시': Timestamp('2012-09-17 19:00:00'),
  '특보강도': 4.0,
  '해제시각': '2012-09-18 00:00:00'}]

In [ ]:
fdf = fdf.to_csv(   '/content/drive/MyDrive/Dev_work/REPORT/DATA_csv/ffill_csv/'+ yyyy +'_ex_ver03.csv', index=False)