In [27]:
import pandas as pd

df1 = pd.read_csv('./csv/모델1_데이터셋/2011.csv',  encoding='utf-8', index_col='일시')
df1

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0   0.0
2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7   0.0
2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2   0.0
2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6   0.0
2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1   0.0
...                         ...        ...       ...       ...     ...   ...
2011-10-25 04:00:00         5.1       11.2       0.2       0.3  1015.9   0.0
2011-10-25 05:00:00         6.4       11.2       0.2       0.3  1016.8   0.0
2011-10-25 06:00:00         6.7       11.2       0.1       0.2  1017.5   0.0
2011-10-25 07:00:00         4.4       11.2       0.2       0.3  1018.4   0.0
2011-10-25 08:00:00         4.0       11.2       0.2       0.4  1019.7   0.0

[5592 rows x 6 columns]

In [28]:
df2 = pd.read_csv('./csv/모델1_데이터셋/2012.csv',  encoding='utf-8', index_col='일시')
df3 = pd.read_csv('./csv/모델1_데이터셋/2013.csv',  encoding='utf-8', index_col='일시')
df4 = pd.read_csv('./csv/모델1_데이터셋/2014.csv',  encoding='utf-8', index_col='일시')
df5 = pd.read_csv('./csv/모델1_데이터셋/2015.csv',  encoding='utf-8', index_col='일시')
df6 = pd.read_csv('./csv/모델1_데이터셋/2016.csv',  encoding='utf-8', index_col='일시')
df7 = pd.read_csv('./csv/모델1_데이터셋/2017.csv',  encoding='utf-8', index_col='일시')
df8 = pd.read_csv('./csv/모델1_데이터셋/2018.csv',  encoding='utf-8', index_col='일시')

In [29]:
# 데이터셋 합치기(2011~2018)
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])
df_all

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0   0.0
2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7   0.0
2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2   0.0
2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6   0.0
2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1   0.0
...                         ...        ...       ...       ...     ...   ...
2018-10-06 06:00:00        13.6       22.6       2.9       4.1   998.4   4.0
2018-10-06 07:00:00        14.5       22.6       3.3       4.7   996.3   4.0
2018-10-06 08:00:00        17.7       23.9       4.7       6.7   993.3   4.0
2018-10-06 09:00:00        16.8       24.1       3.6       5.1   990.2   4.0
2018-10-06 10:00:00        25.4       35.6       5.6       7.8   986.6   4.0

[59823 rows x 6 columns]

In [30]:
df_all.isna().sum()

WIND_SPEED    0
GUST_WIND     0
SIG_WAVE      0
MAX_WAVE      0
HPA           0
특보강도          0
dtype: int64

In [31]:
#2019년도 데이터를 2018년도 데이터로 대체
df_all = pd.concat([df_all, df8])

In [32]:
df_all

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0   0.0
2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7   0.0
2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2   0.0
2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6   0.0
2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1   0.0
...                         ...        ...       ...       ...     ...   ...
2018-10-06 06:00:00        13.6       22.6       2.9       4.1   998.4   4.0
2018-10-06 07:00:00        14.5       22.6       3.3       4.7   996.3   4.0
2018-10-06 08:00:00        17.7       23.9       4.7       6.7   993.3   4.0
2018-10-06 09:00:00        16.8       24.1       3.6       5.1   990.2   4.0
2018-10-06 10:00:00        25.4       35.6       5.6       7.8   986.6   4.0

[66236 rows x 6 columns]

In [33]:
#2020년도 데이터를 2018년도 데이터로 대체
df_all = pd.concat([df_all, df8])
df_all

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0   0.0
2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7   0.0
2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2   0.0
2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6   0.0
2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1   0.0
...                         ...        ...       ...       ...     ...   ...
2018-10-06 06:00:00        13.6       22.6       2.9       4.1   998.4   4.0
2018-10-06 07:00:00        14.5       22.6       3.3       4.7   996.3   4.0
2018-10-06 08:00:00        17.7       23.9       4.7       6.7   993.3   4.0
2018-10-06 09:00:00        16.8       24.1       3.6       5.1   990.2   4.0
2018-10-06 10:00:00        25.4       35.6       5.6       7.8   986.6   4.0

[72649 rows x 6 columns]

In [43]:
df_all.describe()

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도
count,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000
mean,4.609741,10.261811,0.365025,0.565413,1014.793392,0.113601
std,2.414336,4.457936,0.341343,0.490073,7.445205,0.386235
min,0.000000,0.700000,0.000000,0.000000,981.700000,0.000000
25%,2.900000,6.900000,0.200000,0.300000,1009.200000,0.000000
50%,4.400000,9.700000,0.300000,0.400000,1014.500000,0.000000
75%,6.000000,12.800000,0.500000,0.700000,1020.400000,0.000000
max,25.400000,35.600000,5.600000,7.800000,1038.000000,4.000000

In [45]:
df_all.to_csv('./csv/모델2_데이터셋/2011~2020_(0~4).csv')

In [34]:
#모델 1 데이터셋(특보강도 0, 1)
df_m1 = df_all.replace(to_replace={'특보강도':{2:1, 3:1, 4:1}})
df_m1

                     WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA  특보강도
일시
2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0   0.0
2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7   0.0
2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2   0.0
2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6   0.0
2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1   0.0
...                         ...        ...       ...       ...     ...   ...
2018-10-06 06:00:00        13.6       22.6       2.9       4.1   998.4   1.0
2018-10-06 07:00:00        14.5       22.6       3.3       4.7   996.3   1.0
2018-10-06 08:00:00        17.7       23.9       4.7       6.7   993.3   1.0
2018-10-06 09:00:00        16.8       24.1       3.6       5.1   990.2   1.0
2018-10-06 10:00:00        25.4       35.6       5.6       7.8   986.6   1.0

[72649 rows x 6 columns]

In [35]:
df_m1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72649 entries, 2011-03-04 17:00:00 to 2018-10-06 10:00:00
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WIND_SPEED  72649 non-null  float64
 1   GUST_WIND   72649 non-null  float64
 2   SIG_WAVE    72649 non-null  float64
 3   MAX_WAVE    72649 non-null  float64
 4   HPA         72649 non-null  float64
 5   특보강도        72649 non-null  float64
dtypes: float64(6)
memory usage: 3.9+ MB

In [36]:
df_m1.describe()

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도
count,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000
mean,4.609741,10.261811,0.365025,0.565413,1014.793392,0.097716
std,2.414336,4.457936,0.341343,0.490073,7.445205,0.296933
min,0.000000,0.700000,0.000000,0.000000,981.700000,0.000000
25%,2.900000,6.900000,0.200000,0.300000,1009.200000,0.000000
50%,4.400000,9.700000,0.300000,0.400000,1014.500000,0.000000
75%,6.000000,12.800000,0.500000,0.700000,1020.400000,0.000000
max,25.400000,35.600000,5.600000,7.800000,1038.000000,1.000000

In [37]:
#모델1 데이터셋 저장
df_m1.to_csv('./csv/모델1_데이터셋/2011~2020_최종.csv')

In [9]:
import pandas as pd

df = pd.read_csv('./csv/모델1_데이터셋/2011~2020_m1.csv', encoding='utf-8')
df

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도
0,2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,0.0
1,2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,0.0
2,2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,0.0
3,2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,0.0
4,2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,0.0
...,...,...,...,...,...,...,...
72644,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,1.0
72645,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,1.0
72646,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,1.0
72647,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,1.0
72648,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,1.0

In [10]:
df = df.drop(['특보강도'], axis=1)
df

                        일시  WIND_SPEED  GUST_WIND  SIG_WAVE  MAX_WAVE     HPA
0      2011-03-04 17:00:00         2.8        8.9       0.3       0.5  1021.0
1      2011-03-04 18:00:00         3.4        8.9       0.3       0.4  1021.7
2      2011-03-04 19:00:00         4.5        8.9       0.3       0.4  1022.2
3      2011-03-04 20:00:00         2.9        8.9       0.3       0.5  1022.6
4      2011-03-04 21:00:00         3.8        8.9       0.3       0.5  1023.1
...                    ...         ...        ...       ...       ...     ...
72644  2018-10-06 06:00:00        13.6       22.6       2.9       4.1   998.4
72645  2018-10-06 07:00:00        14.5       22.6       3.3       4.7   996.3
72646  2018-10-06 08:00:00        17.7       23.9       4.7       6.7   993.3
72647  2018-10-06 09:00:00        16.8       24.1       3.6       5.1   990.2
72648  2018-10-06 10:00:00        25.4       35.6       5.6       7.8   986.6

[72649 rows x 6 columns]

In [11]:
df_timeleft1 = pd.read_csv('./csv/모델2_데이터셋/2011.csv', encoding='utf-8')
df_timeleft2 = pd.read_csv('./csv/모델2_데이터셋/2012.csv', encoding='utf-8')
df_timeleft3 = pd.read_csv('./csv/모델2_데이터셋/2013.csv', encoding='utf-8')
df_timeleft4 = pd.read_csv('./csv/모델2_데이터셋/2014.csv', encoding='utf-8')
df_timeleft5 = pd.read_csv('./csv/모델2_데이터셋/2015.csv', encoding='utf-8')
df_timeleft6 = pd.read_csv('./csv/모델2_데이터셋/2016.csv', encoding='utf-8')
df_timeleft7 = pd.read_csv('./csv/모델2_데이터셋/2017.csv', encoding='utf-8')
df_timeleft8 = pd.read_csv('./csv/모델2_데이터셋/2018.csv', encoding='utf-8')

In [12]:
df_timeleft8

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
0,2018-02-28 14:00:00,10.0,12.7,0.7,1.2,1007.2,1.0,30.0
1,2018-02-28 15:00:00,12.2,15.9,1.0,1.5,1004.6,1.0,29.0
2,2018-02-28 16:00:00,12.7,18.4,1.2,1.8,1000.2,1.0,28.0
3,2018-02-28 17:00:00,11.2,19.3,1.4,2.1,999.4,1.0,27.0
4,2018-02-28 18:00:00,9.6,19.3,1.4,2.1,997.1,1.0,26.0
...,...,...,...,...,...,...,...,...
772,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,4.0,12.0
773,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,4.0,11.0
774,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,4.0,10.0
775,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,4.0,9.0
776,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,4.0,8.0

In [13]:
#데이터셋 합치기
df_timeleft = pd.concat([df_timeleft1, df_timeleft2, df_timeleft3, df_timeleft4, df_timeleft5, df_timeleft6, df_timeleft7, df_timeleft8])
df_timeleft

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
0,2011-03-15 19:00:00,8.5,14.8,0.3,0.4,1011.6,1.0,19.0
1,2011-03-15 20:00:00,8.1,14.8,0.3,0.4,1013.2,1.0,18.0
2,2011-03-15 21:00:00,10.2,14.8,0.3,0.4,1014.2,1.0,17.0
3,2011-03-15 22:00:00,8.6,14.8,0.2,0.4,1015.3,1.0,16.0
4,2011-03-15 23:00:00,7.3,14.8,0.2,0.4,1016.1,1.0,15.0
...,...,...,...,...,...,...,...,...
772,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,4.0,12.0
773,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,4.0,11.0
774,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,4.0,10.0
775,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,4.0,9.0
776,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,4.0,8.0

In [14]:
df_timeleft = df_timeleft[['일시','특보강도','남은시간']]
df_timeleft

                      일시  특보강도  남은시간
0    2011-03-15 19:00:00   1.0  19.0
1    2011-03-15 20:00:00   1.0  18.0
2    2011-03-15 21:00:00   1.0  17.0
3    2011-03-15 22:00:00   1.0  16.0
4    2011-03-15 23:00:00   1.0  15.0
..                   ...   ...   ...
772  2018-10-06 06:00:00   4.0  12.0
773  2018-10-06 07:00:00   4.0  11.0
774  2018-10-06 08:00:00   4.0  10.0
775  2018-10-06 09:00:00   4.0   9.0
776  2018-10-06 10:00:00   4.0   8.0

[4592 rows x 3 columns]

In [15]:
# df + 남은시간, 특보강도
df = df.merge(df_timeleft, on='일시', how='left')
df

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
0,2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,NaN,NaN
1,2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,NaN,NaN
2,2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,NaN,NaN
3,2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,NaN,NaN
4,2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,NaN,NaN
...,...,...,...,...,...,...,...,...
72644,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,4.0,12.0
72645,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,4.0,11.0
72646,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,4.0,10.0
72647,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,4.0,9.0
72648,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,4.0,8.0

In [16]:
df.tail(30)

,일시,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
72619,2018-10-05 05:00:00,9.1,13.7,1.3,2.0,1018.8,NaN,NaN
72620,2018-10-05 06:00:00,6.7,13.9,1.2,1.8,1018.7,NaN,NaN
72621,2018-10-05 07:00:00,4.8,13.9,0.8,1.3,1018.5,1.0,13.0
72622,2018-10-05 08:00:00,5.5,13.9,0.7,1.1,1018.2,1.0,12.0
72623,2018-10-05 09:00:00,3.2,13.9,0.8,1.2,1018.3,1.0,11.0
72624,2018-10-05 10:00:00,6.2,13.9,0.8,1.2,1018.2,1.0,10.0
72625,2018-10-05 11:00:00,6.1,13.9,0.7,1.1,1017.2,1.0,9.0
72626,2018-10-05 12:00:00,4.2,13.9,0.7,1.1,1016.0,1.0,8.0
72627,2018-10-05 13:00:00,5.5,13.9,0.8,1.2,1015.2,1.0,7.0
72628,2018-10-05 14:00:00,3.6,13.9,0.7,1.1,1014.8,1.0,6.0
72629,2018-10-05 15:00:00,3.6,13.9,0.8,1.2,1013.8,1.0,5.0
72630,2018-10-05 16:00:00,7.1,13.9,0.8,1.3,1013.7,1.0,4.0
72631,2018-10-05 17:00:00,8.5,13.9,0.8,1.1,1012.5,1.0,3.0
72632,2018-10-05 18:00:00,8.7,14.2,0.8,1.2,1012.2,1.0,2.0
72633,2018-10-05 19:00:00,10.2,16.6,0.9,1.4,1012.2,1.0,1.0
72634,2018-10-05 20:00:00,8.5,17.4,0.7,1.1,1011.7,3.0,5.0
72635,2018-10-05 21:00:00,11.2,18.0,0.8,1.2,1011.3,3.0,4.0
72636,2018-10-05 22:00:00,14.4,20.2,0.7,1.1,1010.2,3.0,3.0
72637,2018-10-05 23:00:00,13.4,20.2,0.7,1.1,1009.2,3.0,2.0
72638,2018-10-06 00:00:00,13.3,20.2,0.7,1.0,1007.4,3.0,1.0
72639,2018-10-06 01:00:00,13.1,19.0,0.7,1.1,1006.4,4.0,17.0
72640,2018-10-06 02:00:00,13.6,19.3,0.8,1.1,1004.0,4.0,16.0
72641,2018-10-06 03:00:00,15.4,22.6,1.0,1.5,1002.1,4.0,15.0
72642,2018-10-06 04:00:00,13.2,22.6,1.6,2.4,1001.4,4.0,14.0
72643,2018-10-06 05:00:00,13.2,22.6,1.9,2.8,999.4,4.0,13.0
72644,2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,4.0,12.0
72645,2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,4.0,11.0
72646,2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,4.0,10.0
72647,2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,4.0,9.0
72648,2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,4.0,8.0

In [17]:
#일시를 인덱스로 설정
df = df.set_index('일시')

In [18]:
df.head()

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
일시,,,,,,,
2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,NaN,NaN
2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,NaN,NaN
2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,NaN,NaN
2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,NaN,NaN
2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,NaN,NaN

In [19]:
df.isna().sum()

WIND_SPEED        0
GUST_WIND         0
SIG_WAVE          0
MAX_WAVE          0
HPA               0
특보강도          66503
남은시간          66503
dtype: int64

In [22]:
#결측치 0으로 대체
df = df.fillna(value={'남은시간':0, '특보강도':0})
df

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
일시,,,,,,,
2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,0.0,0.0
2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,0.0,0.0
2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,0.0,0.0
2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,0.0,0.0
2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,0.0,0.0
...,...,...,...,...,...,...,...
2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,4.0,12.0
2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,4.0,11.0
2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,4.0,10.0
2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,4.0,9.0
2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,4.0,8.0

In [23]:
df.isna().sum()

WIND_SPEED    0
GUST_WIND     0
SIG_WAVE      0
MAX_WAVE      0
HPA           0
특보강도          0
남은시간          0
dtype: int64

In [24]:
#모델2 데이터셋(특보강도0~4) csv 저장
df.to_csv('./csv/모델2_데이터셋/2011~2020(특보강도0~4).csv')

In [25]:
#모델2 데이터셋(특보강도 0, 1, 2)
df_m2 = df.replace(to_replace={'특보강도':{3:1, 4:2}})
df_m2

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
일시,,,,,,,
2011-03-04 17:00:00,2.8,8.9,0.3,0.5,1021.0,0.0,0.0
2011-03-04 18:00:00,3.4,8.9,0.3,0.4,1021.7,0.0,0.0
2011-03-04 19:00:00,4.5,8.9,0.3,0.4,1022.2,0.0,0.0
2011-03-04 20:00:00,2.9,8.9,0.3,0.5,1022.6,0.0,0.0
2011-03-04 21:00:00,3.8,8.9,0.3,0.5,1023.1,0.0,0.0
...,...,...,...,...,...,...,...
2018-10-06 06:00:00,13.6,22.6,2.9,4.1,998.4,2.0,12.0
2018-10-06 07:00:00,14.5,22.6,3.3,4.7,996.3,2.0,11.0
2018-10-06 08:00:00,17.7,23.9,4.7,6.7,993.3,2.0,10.0
2018-10-06 09:00:00,16.8,24.1,3.6,5.1,990.2,2.0,9.0
2018-10-06 10:00:00,25.4,35.6,5.6,7.8,986.6,2.0,8.0

In [26]:
df_m2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 72649 entries, 2011-03-04 17:00:00 to 2018-10-06 10:00:00
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WIND_SPEED  72649 non-null  float64
 1   GUST_WIND   72649 non-null  float64
 2   SIG_WAVE    72649 non-null  float64
 3   MAX_WAVE    72649 non-null  float64
 4   HPA         72649 non-null  float64
 5   특보강도        72649 non-null  float64
 6   남은시간        72649 non-null  float64
dtypes: float64(7)
memory usage: 4.4+ MB

In [27]:
df_m2.describe()

,WIND_SPEED,GUST_WIND,SIG_WAVE,MAX_WAVE,HPA,특보강도,남은시간
count,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000,72649.000000
mean,4.609741,10.261811,0.365025,0.565413,1014.793392,0.090504,1.444576
std,2.414336,4.457936,0.341343,0.490073,7.445205,0.306797,6.410740
min,0.000000,0.700000,0.000000,0.000000,981.700000,0.000000,0.000000
25%,2.900000,6.900000,0.200000,0.300000,1009.200000,0.000000,0.000000
50%,4.400000,9.700000,0.300000,0.400000,1014.500000,0.000000,0.000000
75%,6.000000,12.800000,0.500000,0.700000,1020.400000,0.000000,0.000000
max,25.400000,35.600000,5.600000,7.800000,1038.000000,2.000000,85.000000

In [28]:
#csv 저장
df_m2.to_csv('./csv/모델2_데이터셋/2011~2020_m2.csv')